.ddl-float{
  float:left;
  margin-right: 10px;
  position:relative;
  padding-right: 30px;
}
.loading{
  font-size: 22px;
  color:#ff6b58;
}
.loading-position{
  position:absolute;
  top:29px;
  right:5px;
}
.ddl-float-2{
  position:relative;
  padding-right: 30px;
}
.loading-position-2{
  position:absolute;
  top:29px;
  right:5px;
}
