<div class="row">
  <div class="col-xs-12 col-sm-12 offset-sm-12">
    <div class="card">
      <div class="card-block">
        <form class="k-form"  (ngSubmit)="onSubmit()" #operationForm="ngForm">
          <label class="k-form-field">
            <span>根据日期检索订单：</span>
            <kendo-datepicker #order_incoming_time_range [value]="orderSelectDate" name="order_incoming_time_range" [format]="'yyyy年MM月dd日'"
                              (valueChange)="OrderIncomingDateChange($event)"
            >
              <kendo-datepicker-messages
                today="今天"
                toggle="选择日期"
              ></kendo-datepicker-messages>
            </kendo-datepicker>
          </label>


          <label class="k-form-field">
            <span>选择所属订单：<span class="k-required">*</span></span>
            <kendo-dropdownlist
              name="orderNo"
              [data]="orders"
              [textField]="'no'"
              [valueField]="'id'"
              [(ngModel)]="orderObj.orderId"
              [valuePrimitive]="true"
              style="width:500px;"
              (valueChange)="orderSelect($event)"
            >
            </kendo-dropdownlist>
          </label>

          <label class="k-form-field">
            <div style="border-bottom:#ccc 1px solid;width: 100%;padding-bottom: 16px;"></div>
          </label>

          <label class="k-form-field">
            <span>工单建立时间：</span>
            <kendo-datepicker style="float:left" #operation_create_time [(ngModel)]="operation.incoming_date" name="operation_create_time" [format]="'yyyy年MM月dd日'"
            >
              <kendo-datepicker-messages
                today="今天"
                toggle="选择日期"
              ></kendo-datepicker-messages>
            </kendo-datepicker>
            <lmtimepicker style="float:left;margin-left:10px;" [timeNow]="operation.incoming_date_time"  id="operation_create_date_time" name="operation_create_date_time" (change)="onOperationCreateTimeChange($event)" ></lmtimepicker>
            <div style="clear: both;"></div>
          </label>

          <label class="k-form-field">
            <span>工单加急：<span class="k-required">*</span><span style="font-weight:lighter">
              <kendo-switch [(ngModel)]="operation.important" name="important" [onLabel]="'是'" [offLabel]="'否'"></kendo-switch>
            </span></span>
          </label>
          <label class="k-form-field">
            <div class="ddl-float">
              <label>业务类型:<span class="k-required">*</span> </label>
              <kendo-dropdownlist
                name="group"
                [data]="equiptypes"
                [textField]="'name'"
                [valueField]="'id'"
                [(ngModel)]="operation.businessContent.equipType"
                (selectionChange)="equipTypeChange($event)"
              >
              </kendo-dropdownlist>
              <span class="k-icon k-i-loading loading loading-position-2" *ngIf="equipTypeLoading"></span>
            </div>

            <div class="ddl-float">
              <label>设备名称:<span class="k-required">*</span></label>
              <kendo-dropdownlist
                name="equipment"
                [data]="equipments"
                [textField]="'equipment'"
                [valueField]="'equipment'"
                [(ngModel)]="operation.businessContent.equipment"
                [valuePrimitive]="true"
                (selectionChange)="equipChange($event)"
              >
              </kendo-dropdownlist>
              <span class="k-icon k-i-loading loading loading-position-2" *ngIf="equipmentLoading"></span>
            </div>

            <div class="ddl-float">
              <label>操作:<span class="k-required">*</span></label>
              <kendo-dropdownlist
                [data]="equipOps"
                [textField]="'name'"
                [valueField]="'id'"
                [(ngModel)]="operation.businessContent"
                name="op"
              >
              </kendo-dropdownlist>
              <span *ngIf="equipOpLoading" class="k-icon k-i-loading loading loading-position-2"></span>
            </div>

            <div style="clear:both;">

            </div>


          </label>
          <label class="k-form-field">
            <span for="remark">备注：</span>
<!--            <input kendoTextBox />-->
            <input kendoTextBox class="k-textbox" placeholder="备注"  name="remark"  [(ngModel)]="operation.remark"  disabled *ngIf="isHiddenRemark"  />
            <input kendoTextBox class="k-textbox" placeholder="备注"  name="remark"  [(ngModel)]="operation.remark" *ngIf="!isHiddenRemark"  />
          </label>
          <div class="k-form-field">
            <span style="font-weight:bolder">进程：</span>

            <div>
              <button class="k-button k-primary " type="button" (click)="addProcess()" [disabled]="!operationForm.form.valid||isSubmitDisabled">新增进程</button>
            </div>
            <div #surface [ngStyle]="surfaceHeight">

            </div>
          </div>



          <div class="text-left">
            <button class="k-button k-primary" [disabled]="!operationForm.form.valid||isSubmitDisabled">提交</button>
            <button class="k-button">重置</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div kendoDialogContainer></div>
<ng-template #itemListRef>
  <form class="k-form"  (ngSubmit)="onSubmit()" #orderForm="ngForm">
    <div class="k-form-field">
      <p style="display: flex">
        <input type="checkbox" id="auth-2fa" [disabled]="true" class="k-checkbox" name="auth-2fa"  [(ngModel)]="submitWorkOrder.showWorker" (click)="finishCheckChanged($event,dataItem)" >
        <label class="k-checkbox-label" style="top:3px" for="auth-2fa" >选择工程师&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <kendo-dropdownlist
          name="worker"
          [data]="workers"
          [textField]="'name'"
          [valueField]="'id'"
          [(ngModel)]="submitWorkOrder.worker"
          (valueChange)="workerChange($event)"
        >
        </kendo-dropdownlist>
      </p>
      <span class="k-icon k-i-loading loading loading-position" *ngIf="groupLoading"></span>
    </div>
    <div class="k-form-field">
      <p style="display: flex;">
        <input type="checkbox" id="auth-2fb" [disabled]="true" class="k-checkbox" name="auth-2fb"  [(ngModel)]="submitWorkOrder.showWorker" >
        <label class="k-checkbox-label" style="top:3px" for="auth-2fb" >设置指派时间&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <kendo-datepicker #incoming_date [value]="submitWorkOrder.call_date" name="call_date" [format]="'yyyy年MM月dd日'"
                            (valueChange)="callDateChange($event)"  [disabled]="!submitWorkOrder.showWorker"
          >
            <kendo-datepicker-messages
              today="今天"
              toggle="选择日期"
            ></kendo-datepicker-messages>
          </kendo-datepicker>
          <lmtimepicker [timeNow]="submitWorkOrder.call_date_time" [disabled]="submitWorkOrder.showWorker"   id="timetest" name="timetest" (change)="onCallTimeChange($event)" ></lmtimepicker>
      </p>
    </div>

    <div class="k-form-field">
      <p style="display:flex;">
          <input type="checkbox" id="auth-2fc" class="k-checkbox" name="auth-2fc"  [(ngModel)]="submitWorkOrder.showArriveDate" >
          <label class="k-checkbox-label" style="top:3px" for="auth-2fc" >设置开始工作时间</label>

          <kendo-datepicker #incoming_date [value]="submitWorkOrder.arrive_date" name="call_date" [format]="'yyyy年MM月dd日'"
                            (valueChange)="arriveDateChange($event)" [disabled]="!submitWorkOrder.showArriveDate"
          >
            <kendo-datepicker-messages
              today="今天"
              toggle="选择日期"
            ></kendo-datepicker-messages>
          </kendo-datepicker>

          <lmtimepicker [timeNow]="submitWorkOrder.arrive_date_time" [disabled]="submitWorkOrder.showArriveDate"   id="timetest" name="timetest" (change)="onArriveTimeChange($event)" ></lmtimepicker>
      </p>
    </div>

    <div class="k-form-field">
      <p style="display: flex">
        <input type="checkbox" id="auth-2fd" class="k-checkbox" name="auth-2fd"  [(ngModel)]="submitWorkOrder.showFinishDate" (change)="finishCheckedChange($event)" >
        <label class="k-checkbox-label" style="top:3px" for="auth-2fd" >设置结束工作时间</label>
          <kendo-datepicker #incoming_date [value]="submitWorkOrder.finish_date" name="call_date" [format]="'yyyy年MM月dd日'"
                            (valueChange)="finishDateChange($event)" [disabled]="!submitWorkOrder.showFinishDate"
          >
            <kendo-datepicker-messages
              today="今天"
              toggle="选择日期"
            ></kendo-datepicker-messages>
          </kendo-datepicker>

          <lmtimepicker [timeNow]="submitWorkOrder.finish_date_time" [disabled]="submitWorkOrder.showFinishDate"  id="timetest" name="timetest" (change)="onFinishTimeChange($event)" ></lmtimepicker>

      </p>
    </div>

    <div class="k-form-field">
      <p style="display: flex">
        <input type="checkbox" id="auth-2fe" class="k-checkbox" name="auth-2fe"  [(ngModel)]="submitWorkOrder.isCompleteOperation" (click)="finishCheckChanged($event,dataItem)" >
        <label class="k-checkbox-label" style="top:3px" for="auth-2fe" >工单完成了？</label>
      </p>
    </div>

  </form>

</ng-template>


<ng-template #actionDetailTemplate>
  <form class="k-form" #actionEditForm="ngForm">
    <div class="k-form-field">
      <p style="display: flex">
        <input type="checkbox" id="edit-2fa" [disabled]="true" class="k-checkbox" name="edit-2fa" checked="checked" >
        <label class="k-checkbox-label" style="top:3px" for="edit-2fa" >工程师&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <kendo-dropdownlist
          name="worker"
          [data]="workers"
          [textField]="'name'"
          [valueField]="'id'"
          [(ngModel)]="actionDetail.workerId"
          (valueChange)="workerChange($event)"
        >
        </kendo-dropdownlist>
      </p>
      <span class="k-icon k-i-loading loading loading-position" *ngIf="groupLoading"></span>
    </div>
    <div class="k-form-field">
      <p style="display: flex;">
        <input type="checkbox" id="edit-2fb" [disabled]="true" class="k-checkbox" name="edit-2fb" checked="checked" >
        <label class="k-checkbox-label" style="top:3px" for="edit-2fb" >指派时间&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <kendo-datepicker #incoming_date [value]="actionDetail.call_date" name="call_time" [format]="'yyyy年MM月dd日'"

        >
          <kendo-datepicker-messages
            today="今天"
            toggle="选择日期"
          ></kendo-datepicker-messages>
        </kendo-datepicker>
        <lmtimepicker [timeNow]="actionDetail.call_time"   id="timetest" name="timetest" ></lmtimepicker>
      </p>
    </div>

    <div class="k-form-field">
      <p style="display:flex;">
        <input type="checkbox" id="edit-2fc" class="k-checkbox" name="edit-2fc"  [(ngModel)]="actionDetail.showArriveDate" (change)="editStartCheckedChange($event)"  >
        <label class="k-checkbox-label" style="top:3px" for="edit-2fc" >开始工作时间</label>

        <kendo-datepicker #incoming_date [value]="actionDetail.start_date" name="call_date" [format]="'yyyy年MM月dd日'"
                          (valueChange)="editArriveDateChange($event)" [disabled]="!actionDetail.showArriveDate"
        >
          <kendo-datepicker-messages
            today="今天"
            toggle="选择日期"
          ></kendo-datepicker-messages>
        </kendo-datepicker>

        <lmtimepicker [timeNow]="actionDetail.start_time" [disabled]="actionDetail.showArriveDate" id="timetest1" name="timetest1" (change)="onEditArriveTimeChange($event)" ></lmtimepicker>
      </p>
    </div>

    <div class="k-form-field">
      <p style="display: flex">
        <input type="checkbox" id="edit-2fd" class="k-checkbox" name="edit-2fd"  [(ngModel)]="actionDetail.showFinishDate" (change)="editFinishCheckedChange($event)" >
        <label class="k-checkbox-label" style="top:3px" for="edit-2fd" >结束工作时间</label>
        <kendo-datepicker #incoming_date [value]="actionDetail.end_date" name="call_date" [format]="'yyyy年MM月dd日'"
                          (valueChange)="editFinishDateChange($event)" [disabled]="!actionDetail.showFinishDate"
        >
          <kendo-datepicker-messages
            today="今天"
            toggle="选择日期"
          ></kendo-datepicker-messages>
        </kendo-datepicker>

        <lmtimepicker [timeNow]="actionDetail.end_time" [disabled]="actionDetail.showFinishDate"  id="timetest2" name="timetest2" (change)="onEditFinishTimeChange($event)" ></lmtimepicker>

      </p>
    </div>

    <div class="k-form-field">
      <p style="display: flex">
        <input type="checkbox" id="edit-2fe" class="k-checkbox" name="edit-2fe"  [(ngModel)]="actionDetail.isCompleteOperation" (click)="editFinishOperationCheckChanged($event,dataItem)" >
        <label class="k-checkbox-label" style="top:3px" for="edit-2fe" >工单完成了？</label>
      </p>
    </div>

  </form>
</ng-template>

<ng-template #actionTemplate>
  <button kendoButton (click)="cancelProcess()">取消</button>
  <button kendoButton [primary]="true" (click)="saveProcess()" [icon]="savingProcessIcon" [disabled]="isSavingProcess">
    保存
  </button>
</ng-template>

<ng-template #actionEditDeleteTemplate>
  <button kendoButton (click)="cancelAction()"  >取消</button>
  <button kendoButton (click)="editAction()" [primary]="true" [icon]="saveActionIcon" [disabled]="isHiddenSaveAction">保存</button>
  <button kendoButton (click)="deleteAction()" [icon]="deleteActionIcon" [disabled]="isHiddenDeleteAction">
    删除
  </button>
</ng-template>
