<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div>
        <h3>今日工单情况</h3>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align: center;color:#ccc">
            <h1>9</h1>
            <h5>未处理</h5>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align: center;color:#FF0000">
            <h1>9</h1>
            <h5>处理中</h5>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align: center;color:#00ee00">
            <h1>9</h1>
            <h5>完成</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <h1>工单进行情况</h1>
    </div>
  </div>
</div>
