<div class="row">
  <div class="col-xs-12 col-sm-12 offset-sm-12">
    <div class="card">
      <div class="card-block">
        <form class="k-form"  (ngSubmit)="onSubmit()" #operationForm="ngForm">
          <label class="k-form-field">
            <span>订单序号：<span style="font-weight:lighter">{{operation.order.no}}</span></span>

          </label>

          <label class="k-form-field">
            <span>订单来源：<span style="font-weight:lighter">{{operation.order.corporation?.name}} {{operation.order.custom_name}} {{operation.order.custom_phone}}</span></span>
          </label>

          <label class="k-form-field">
            <span *ngIf="operation.order?.corpBuilding?.position=='A'">地点：<span style="font-weight:lighter">{{operation.order?.corpBuilding?.building.name}} <span>{{operation.order?.corpBuilding?.floor}}层</span>&nbsp;&nbsp;全部</span></span>
            <span *ngIf="operation.order?.corpBuilding?.position=='E'">地点：<span style="font-weight:lighter">{{operation.order?.corpBuilding?.building.name}} <span>{{operation.order?.corpBuilding?.floor}}层</span>&nbsp;&nbsp;东</span></span>
            <span *ngIf="operation.order?.corpBuilding?.position=='W'">地点：<span style="font-weight:lighter">{{operation.order?.corpBuilding?.building.name}} <span>{{operation.order?.corpBuilding?.floor}}层</span>&nbsp;&nbsp;西</span></span>
            <span *ngIf="operation.order?.corpBuilding?.position=='S'">地点：<span style="font-weight:lighter">{{operation.order?.corpBuilding?.building.name}} <span>{{operation.order?.corpBuilding?.floor}}层</span>&nbsp;&nbsp;南</span></span>
            <span *ngIf="operation.order?.corpBuilding?.position=='N'">地点：<span style="font-weight:lighter">{{operation.order?.corpBuilding?.building.name}} <span>{{operation.order?.corpBuilding?.floor}}层</span>&nbsp;&nbsp;北</span></span>
          </label>
          <label class="k-form-field">
            <span>工单序号：<span style="font-weight:lighter">{{operation.no}}</span></span>
          </label>
          <label class="k-form-field">
            <span>工单加急：<span style="font-weight:lighter">
              <kendo-switch [(ngModel)]="operation.important" name="important" [onLabel]="'是'" [offLabel]="'否'" [disabled]="isHiddenImportant" ></kendo-switch>
            </span></span>
          </label>
          <label class="k-form-field">
            <span>工单处理程度：<span style="font-weight:lighter">
              <span style="color:#cccccc" *ngIf="operation.complete=='0'">未处理</span>
              <span style="color:#ffa500" *ngIf="operation.complete=='1'">处理中</span>
              <span style="color:#008000" *ngIf="operation.complete=='2'">处理完成</span>
              <span style="color:#999999" *ngIf="operation.complete=='3'">已指派工程师</span>
            </span></span>
          </label>
          <label class="k-form-field">

            <div class="ddl-float">
              <label>业务类型:<span class="k-required">*</span> </label>
              <kendo-dropdownlist
                name="group"
                [data]="equiptypes"
                [textField]="'name'"
                [valueField]="'id'"
                [(ngModel)]="operation.businessContent.equipType"
                (selectionChange)="equipTypeChange($event)"
                [disabled]="isHiddenType"
              >
              </kendo-dropdownlist>
              <span class="k-icon k-i-loading loading loading-position-2" *ngIf="equipTypeLoading"></span>
            </div>

            <div class="ddl-float">
              <label>设备名称:<span class="k-required">*</span></label>
              <kendo-dropdownlist
                name="equipment"
                [data]="equipments"
                [textField]="'equipment'"
                [valueField]="'equipment'"
                [(ngModel)]="operation.businessContent.equipment"
                [valuePrimitive]="true"
                (selectionChange)="equipChange($event)"
                [disabled]="isHiddenEquipment"
              >
              </kendo-dropdownlist>
              <span class="k-icon k-i-loading loading loading-position-2" *ngIf="equipmentLoading"></span>
            </div>

            <div class="ddl-float">
              <label>操作:<span class="k-required">*</span></label>
              <kendo-dropdownlist
                [data]="equipOps"
                [textField]="'name'"
                [valueField]="'id'"
                [(ngModel)]="operation.businessContent"
                name="op"
                [disabled]="isHiddenOp"
              >
              </kendo-dropdownlist>
              <span *ngIf="equipOpLoading" class="k-icon k-i-loading loading loading-position-2"></span>
            </div>

            <div style="clear:both;">

            </div>


          </label>
          <label class="k-form-field">
            <span for="remark">备注：</span>
<!--            <input kendoTextBox />-->
            <input kendoTextBox class="k-textbox" placeholder="备注"  name="remark"  [(ngModel)]="operation.remark"  disabled *ngIf="isHiddenRemark"  />
            <input kendoTextBox class="k-textbox" placeholder="备注"  name="remark"  [(ngModel)]="operation.remark" *ngIf="!isHiddenRemark"  />
          </label>
          <div class="k-form-field">
            <span style="font-weight:bolder">进程：</span>

            <div>
              <button class="k-button k-primary " *ngIf="showAddProcessBtn" type="button" (click)="addProcess()" >新增进程</button>
              <button class="k-button" type="button" (click)="updateProcess()" >刷新</button>
            </div>
            <div #surface [ngStyle]="surfaceHeight">

            </div>
          </div>



          <div class="text-left">
            <button class="k-button k-primary" *ngIf="showSaveBtn" [disabled]="!operationForm.form.valid">提交</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div kendoDialogContainer></div>
<ng-template #itemListRef>
  <form class="k-form"  (ngSubmit)="onSubmit()" #orderForm="ngForm">
    <div class="k-form-field">
      <p style="display: flex">
        <input type="checkbox" id="auth-2fa" [disabled]="true" class="k-checkbox" name="auth-2fa"  [(ngModel)]="submitWorkOrder.showWorker" (click)="finishCheckChanged($event,dataItem)" >
        <label class="k-checkbox-label" style="top:3px" for="auth-2fa" >选择工程师&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <kendo-dropdownlist
          name="worker"
          [data]="workers"
          [textField]="'name'"
          [valueField]="'id'"
          [(ngModel)]="submitWorkOrder.worker"
          (valueChange)="workerChange($event)"
        >
        </kendo-dropdownlist>
      </p>
      <span class="k-icon k-i-loading loading loading-position" *ngIf="groupLoading"></span>
    </div>
    <div class="k-form-field">
      <p style="display: flex;">
        <input type="checkbox" id="auth-2fb" [disabled]="true" class="k-checkbox" name="auth-2fb"  [(ngModel)]="submitWorkOrder.showWorker" >
        <label class="k-checkbox-label" style="top:3px" for="auth-2fb" >设置指派时间&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <kendo-datepicker #incoming_date [value]="submitWorkOrder.call_date" name="call_date" [format]="'yyyy年MM月dd日'"
                            (valueChange)="callDateChange($event)"  [disabled]="!submitWorkOrder.showWorker"
          >
            <kendo-datepicker-messages
              today="今天"
              toggle="选择日期"
            ></kendo-datepicker-messages>
          </kendo-datepicker>
          <lmtimepicker [timeNow]="submitWorkOrder.call_date_time" [disabled]="submitWorkOrder.showWorker"   id="timetest" name="timetest" (change)="onCallTimeChange($event)" ></lmtimepicker>
      </p>
    </div>

    <div class="k-form-field">
      <p style="display:flex;">
          <input type="checkbox" id="auth-2fc" class="k-checkbox" name="auth-2fc"  [(ngModel)]="submitWorkOrder.showArriveDate" >
          <label class="k-checkbox-label" style="top:3px" for="auth-2fc" >设置开始工作时间</label>

          <kendo-datepicker #incoming_date [value]="submitWorkOrder.arrive_date" name="call_date" [format]="'yyyy年MM月dd日'"
                            (valueChange)="arriveDateChange($event)" [disabled]="!submitWorkOrder.showArriveDate"
          >
            <kendo-datepicker-messages
              today="今天"
              toggle="选择日期"
            ></kendo-datepicker-messages>
          </kendo-datepicker>

          <lmtimepicker [timeNow]="submitWorkOrder.arrive_date_time" [disabled]="submitWorkOrder.showArriveDate"   id="timetest" name="timetest" (change)="onArriveTimeChange($event)" ></lmtimepicker>
      </p>
    </div>

    <div class="k-form-field">
      <p style="display: flex">
        <input type="checkbox" id="auth-2fd" class="k-checkbox" name="auth-2fd"  [(ngModel)]="submitWorkOrder.showFinishDate" (change)="finishCheckedChange($event)" >
        <label class="k-checkbox-label" style="top:3px" for="auth-2fd" >设置结束工作时间</label>
          <kendo-datepicker #incoming_date [value]="submitWorkOrder.finish_date" name="call_date" [format]="'yyyy年MM月dd日'"
                            (valueChange)="finishDateChange($event)" [disabled]="!submitWorkOrder.showFinishDate"
          >
            <kendo-datepicker-messages
              today="今天"
              toggle="选择日期"
            ></kendo-datepicker-messages>
          </kendo-datepicker>

          <lmtimepicker [timeNow]="submitWorkOrder.finish_date_time" [disabled]="submitWorkOrder.showFinishDate"  id="timetest" name="timetest" (change)="onFinishTimeChange($event)" ></lmtimepicker>

      </p>
    </div>

    <div class="k-form-field">
      <p style="display: flex">
        <input type="checkbox" id="auth-2fe" class="k-checkbox" name="auth-2fe"  [(ngModel)]="submitWorkOrder.isCompleteOperation" (click)="finishCheckChanged($event,dataItem)" >
        <label class="k-checkbox-label" style="top:3px" for="auth-2fe" >工单完成了？</label>
      </p>
    </div>

  </form>

</ng-template>


<ng-template #actionDetailTemplate>
  <form class="k-form-inline" #actionEditForm="ngForm">
    <div class="k-form-field">

<!--        <input type="checkbox" id="edit-2fa" [disabled]="true" class="k-checkbox" name="edit-2fa" checked="checked" >-->
<!--        <label class="k-checkbox-label" style="top:3px" for="edit-2fa" >工程师&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>-->
        <label style="margin-left: 11px;" [for]="worker">工程师：</label>
        <kendo-dropdownlist style="margin-left: 4px;"
          #worker
          name="worker"
          [data]="workers"
          [textField]="'name'"
          [valueField]="'id'"
          [valuePrimitive]="true"
          [(ngModel)]="actionDetail.workerId"
          (valueChange)="workerChange($event)"
        >
        </kendo-dropdownlist>
      <span class="k-icon k-i-loading loading" *ngIf="isWorkerLoading"></span>
    </div>
    <div class="k-form-field">
        <label style="margin-left: 11px;"  [for]="incoming_date" >指派时间：</label>
        <kendo-datepicker #incoming_date style="margin-left: 4px;" [value]="actionDetail.call_date" name="call_time" [format]="'yyyy年MM月dd日'"
                          (valueChange)="editCallDateChange($event)"
        >
          <kendo-datepicker-messages
            today="今天"
            toggle="选择日期"
          ></kendo-datepicker-messages>
        </kendo-datepicker>
        <lmtimepicker [timeNow]="actionDetail.call_time"   id="timetest" name="timetest" ></lmtimepicker>
    </div>

    <div class="k-form-field">
      <p style="display:flex;">
        <input type="checkbox" id="edit-2fc" class="k-checkbox" name="edit-2fc"  [(ngModel)]="actionDetail.showArriveDate" (change)="editStartCheckedChange($event)"  >
        <label class="k-checkbox-label" style="top:3px" for="edit-2fc" >开始工作时间：</label>

        <kendo-datepicker #incoming_date  [value]="actionDetail.start_date" name="call_date" [format]="'yyyy年MM月dd日'"
                          (valueChange)="editArriveDateChange($event)" [disabled]="!actionDetail.showArriveDate"
        >
          <kendo-datepicker-messages
            today="今天"
            toggle="选择日期"
          ></kendo-datepicker-messages>
        </kendo-datepicker>

        <lmtimepicker [timeNow]="actionDetail.start_time" [disabled]="actionDetail.showArriveDate" id="timetest1" name="timetest1" (change)="onEditArriveTimeChange($event)" ></lmtimepicker>
      </p>
    </div>

    <div class="k-form-field">
      <p style="display: flex">
        <input type="checkbox" id="edit-2fd" class="k-checkbox" name="edit-2fd"  [(ngModel)]="actionDetail.showFinishDate" (change)="editFinishCheckedChange($event)" >
        <label class="k-checkbox-label" style="top:3px" for="edit-2fd" >结束工作时间：</label>
        <kendo-datepicker #incoming_date [value]="actionDetail.end_date" name="call_date" [format]="'yyyy年MM月dd日'"
                          (valueChange)="editFinishDateChange($event)" [disabled]="!actionDetail.showFinishDate"
        >
          <kendo-datepicker-messages
            today="今天"
            toggle="选择日期"
          ></kendo-datepicker-messages>
        </kendo-datepicker>

        <lmtimepicker [timeNow]="actionDetail.end_time" [disabled]="actionDetail.showFinishDate"  id="timetest2" name="timetest2" (change)="onEditFinishTimeChange($event)" ></lmtimepicker>

      </p>
    </div>

    <div class="k-form-field">
      <p style="display: flex">
        <input type="checkbox" id="edit-2fe" class="k-checkbox" name="edit-2fe"  [(ngModel)]="actionDetail.isCompleteOperation" (click)="editFinishOperationCheckChanged($event,dataItem)" >
        <label class="k-checkbox-label" style="top:3px" for="edit-2fe" >工单完成了？</label>
      </p>
    </div>

  </form>
</ng-template>

<ng-template #actionTemplate>
  <button kendoButton (click)="cancelProcess()">取消</button>
  <button kendoButton [primary]="true" (click)="saveProcess()" [icon]="savingProcessIcon" [disabled]="isSavingProcess">
    保存
  </button>
</ng-template>

<ng-template #actionEditDeleteTemplate>
  <button kendoButton (click)="cancelAction()"  >取消</button>
  <button kendoButton *ngIf="showProcessSaveBtn" (click)="editAction()" [primary]="true" [icon]="saveActionIcon" [disabled]="isHiddenSaveAction">保存</button>
  <button kendoButton *ngIf="showProcessDeleteBtn" (click)="deleteAction()" [icon]="deleteActionIcon" [disabled]="isHiddenDeleteAction">
    删除
  </button>
</ng-template>
