<div class="row">
  <div class="col-xs-12 col-sm-12 offset-sm-12">
    <div class="card">
      <div class="card-block">
        <form class="k-form" (ngSubmit)="onSubmit()" #corporationForm="ngForm">
          <label class="k-form-field">
            <span for="name">办公楼名称</span>
            <input id="name" class="k-textbox" placeholder="办公楼名称" required [(ngModel)]="corporation.name" name="name" />
          </label>
          <label class="k-form-field">
            <span for="description">详细地址</span>
            <input id="description" class="k-textbox" value="" placeholder="详细地址" required [(ngModel)]="corporation.description" name="description" />
          </label>

          <label class="k-form-field">
            <span for="groupId">所属组织</span>
            <kendo-dropdownlist
              name="groupId"
              [data]="groups"
              [textField]="'name'"
              [valueField]="'id'"
              [valuePrimitive]="true"
              [(ngModel)]="corporation.groupId"
            >
            </kendo-dropdownlist>
          </label>

          <div class="k-form-field">
            <span style="font-weight:700;">公司地点</span>
            <kendo-grid
              [data]="corpBuildings"
              (edit)="editHandler($event)" (cancel)="cancelHandler($event)"
              (save)="saveHandler($event)" (remove)="removeHandler($event)"
              (add)="addHandler($event)"
              #kendoGridInstance="kendoGrid"
            >

              <ng-template kendoGridToolbarTemplate>
                <button kendoGridAddCommand type="button" >新增</button>
                <button kendoButton type="button" style="float:right" class="k-button"  (click)="refreshCorpBuilding()" title="刷新数据">
                  <span style="color:green" class="k-icon k-i-refresh"></span>
                </button>
              </ng-template>

              <kendo-grid-column field="buildingId" title="办公楼">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <input type="hidden" [(ngModel)]="dataItem.id" name="id" >
                  {{dataItem.building?.name}}
                </ng-template>
                <ng-template kendoGridEditTemplate
                             let-dataItem="dataItem"
                             let-formGroup="formGroup"
                >
                  <kendo-dropdownlist
                    [data]="buildings"
                    textField="name"
                    valueField="id"
                    [(ngModel)]="dataItem.buildingId"
                    name="buildingId"
                    (selectionChange)="buildingChange($event)"
                    [formControl]="formGroup.get('buildingId')"
                  >

                  </kendo-dropdownlist>
                </ng-template>
              </kendo-grid-column>

              <kendo-grid-column field="floor" title="楼层">
                <ng-template kendoGridCellTemplate let-dataItem>
                  {{dataItem.floor==0?'全部':dataItem.floor}}
                </ng-template>
                <ng-template kendoGridEditTemplate
                             let-dataItem="dataItem"
                             let-formGroup="formGroup"
                >
                  <kendo-dropdownlist
                    [data]="floors"
                    [(ngModel)]="dataItem.floor"
                    textField="name"
                    valueField="value"
                    name="floor"
                    [formControl]="formGroup.get('floor')"
                  >
                  </kendo-dropdownlist>
                  <span *ngIf="isBuildingLoading" class="k-icon k-i-loading" style="font-size: 14px;color:#ff6b58;float:left;height:30px;line-height:14px;margin-left: 5px;"></span>
                  <div style="clear: both"></div>
                </ng-template>
              </kendo-grid-column>

              <kendo-grid-column field="position" title="所在楼层区域">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <span *ngIf="dataItem.position=='A'">全部区域</span>
                  <span *ngIf="dataItem.position=='E'">东区</span>
                  <span *ngIf="dataItem.position=='S'">南区</span>
                  <span *ngIf="dataItem.position=='W'">西区</span>
                  <span *ngIf="dataItem.position=='N'">北区</span>
                </ng-template>
                <ng-template kendoGridEditTemplate
                             let-dataItem="dataItem"
                             let-formGroup="formGroup"
                >
                  <kendo-dropdownlist
                    [data]="positions"
                    textField="name"
                    valueField="value"
                    [(ngModel)]="dataItem.position"
                    name="position"
                    [formControl]="formGroup.get('position')"
                  >
                  </kendo-dropdownlist>
                </ng-template>
              </kendo-grid-column>

              <kendo-grid-command-column title="操作" width="220">
                <ng-template kendoGridCellTemplate let-isNew="isNew">
                  <button type="button" kendoGridEditCommand class="k-primary">编辑</button>
                  <button type="button" kendoGridRemoveCommand>删除</button>
                  <button type="button" class="k-primary" kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ? '保存' : '更新' }}</button>
                  <button type="button" kendoGridCancelCommand>{{ isNew ? '取消' : '取消' }}</button>
                </ng-template>
              </kendo-grid-command-column>
              <ng-template kendoGridNoRecordsTemplate>
                <div>暂时还没有记录 <a href="javascript:;" (click)="refreshBuilding()">点击刷新</a>.</div>
              </ng-template>
            </kendo-grid>
          </div>

          <div class="text-left">
            <button class="k-button k-primary" type="submit" (click)="onSubmit()" [disabled]="!corporationForm.form.valid">提交</button>
            <button class="k-button" type="reset">重置</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div kendoDialogContainer></div>
