<div class="row">
  <div class="col-xs-12 col-sm-12 offset-sm-12">
    <div class="card">
      <div class="card-block">
        <form class="k-form"  (ngSubmit)="onSubmit()" #corporationForm="ngForm">
          <label class="k-form-field">
            <span for="name">办公楼名称</span>
            <input id="name" class="k-textbox" placeholder="办公楼名称" required [(ngModel)]="corporation.name" name="name" />
          </label>
          <label class="k-form-field">
            <span for="description">详细地址</span>
            <input id="description" class="k-textbox" value="" placeholder="详细地址" required [(ngModel)]="corporation.description" name="description" />
          </label>

          <label class="k-form-field">
            <span for="groupId">所属组织</span>
            <kendo-dropdownlist
              name="groupId"
              [data]="groups"
              [textField]="'name'"
              [valueField]="'id'"
              [valuePrimitive]="true"
              [(ngModel)]="corporation.groupId"
            >
            </kendo-dropdownlist>
          </label>

          <label class="k-form-field">
            <span for="description">公司地点</span>
            <kendo-grid
              [data]="corpBuildings"
              (dataStateChange)="onStateChange($event)"
              (edit)="editHandler($event)" (cancel)="cancelHandler($event)"
              (save)="saveHandler($event)" (remove)="removeHandler($event)"
              (add)="addHandler($event)"
            >
              <ng-template kendoGridToolbarTemplate>
                <button kendoGridAddCommand type="button" >新增</button>
              </ng-template>
              <kendo-grid-column field="groupId" title="办公楼">
                <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                  <input [(ngModel)]="buildings" name="ProductName" class="k-textbox" required/>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="floor" title="楼层"></kendo-grid-column>
              <kendo-grid-column field="position" title="方位"></kendo-grid-column>
              <kendo-grid-column title="操作">

              </kendo-grid-column>
              <ng-template kendoGridNoRecordsTemplate>
                <div>暂时还没有记录 <a href="javascript:;" (click)="refreshBuilding()">点击刷新</a>.</div>
              </ng-template>
            </kendo-grid>
          </label>

          <div class="text-left">
            <button class="k-button k-primary" type="submit" [disabled]="!corporationForm.form.valid">提交</button>
            <button class="k-button" type="reset">重置</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
