<span class="k-widget k-datepicker k-header {{showMask&&showMask.toString()=='true'?'k-state-disabled':''}} " style="position:relative" #container >
  <kendo-maskedtextbox #maskTxt [mask]="'00时00分00秒'" [value]="txtValueSubmit" [disabled]="showMask" (valueChange)="maskChanged($event)" ></kendo-maskedtextbox>
  <span #anchor (click)="onToggle()" class="k-select" style="position: absolute;right: 0px;top: 0px;text-align: center;height: 30px;line-height: 30px;width: 30px;cursor:pointer;">
    <span class="k-icon k-i-clock"  >

    </span>
  </span>
</span>

<kendo-popup #popup class="content" [popupClass]="'mpopup'"  [anchor]="container" (anchorViewportLeave)="show = false" *ngIf="show">
  <!-- User-defined content -->
  <div class="row" style="padding-top: 15px;text-align: center;margin: 0px;">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="text-align: center">
      <span class="time-1">{{txtValue}}</span>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align: center">
      <a style="color: #ff6b58;line-height:30px;cursor: pointer;text-decoration: none;" (click)="clickNow()">现在</a>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 time-2 {{timeTypeSelected=='hour'?'time-2-selected':''}} " style="padding: 15px 0px 15px 0px">
      <p style="margin: 0px">
        时
      </p>
      <div wheel #hourWheel class="hour-container" timeType="hour" (typeChange)="onTypeChange($event)" >
        <ul class="hour" #hour [ngStyle]="hourTop">
          <li *ngFor="let hour of hours" >
            <span class="{{selectedHour==hour?'selected':''}}" (click)="spanClick('hour',hour)">{{hour}}</span>
          </li>
        </ul>
      </div>
      <div class="right-time">

      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 time-2 {{timeTypeSelected=='minute'?'time-2-selected':''}} " style="padding: 15px 0px 15px 0px">
      <p style="margin: 0px">
        分
      </p>
      <div wheel #minuteWheel class="hour-container" timeType="minute" (typeChange)="onTypeChange($event)" >
        <ul class="hour" #minute [ngStyle]="minuteTop">
          <li *ngFor="let minute of minutes">
            <span class="{{selectedMinute==minute?'selected':''}}"  (click)="spanClick('minute',minute)">{{minute}}</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 time-2 {{timeTypeSelected=='second'?'time-2-selected':''}} " style="padding: 15px 0px 15px 0px">
      <p style="margin: 0px">
        秒
      </p>
      <div wheel #secondWheel class="hour-container" timeType="second" (typeChange)="onTypeChange($event)" >
        <ul class="hour" #second [ngStyle]="secondTop" >
          <li *ngFor="let second of seconds">
            <span class="{{selectedSecond==second?'selected':''}}"  (click)="spanClick('second',second)">{{second}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <kendo-buttongroup [width]="'200px'" style="height:40px;">
    <button kendoButton [togglable]="true" [primary]="false" (click)="cancelTime()" type="button" >取消</button>
    <button kendoButton [togglable]="true" [primary]="true" (click)="submitTime()" type="button" >确定</button>
  </kendo-buttongroup>

</kendo-popup>


