<kendo-grid [data]="gridData" [height]="height" #funcGrid >
  <ng-template kendoGridToolbarTemplate>
    <button kendoButton  (click)="add()" [icon]="'plus'" *ngIf="showAddBtn"></button>
    <button kendoButton style="float:right" class="k-button"  (click)="refresh()" title="刷新数据">
      <span style="color:green" class="k-icon k-i-refresh"></span>
    </button>
  </ng-template>

  <kendo-grid-column field="name" title="功能名称" [width]="200">
    <ng-template kendoGridCellTemplate let-dataItem>
      {{dataItem.name}}({{dataItem.code}})
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column  title="操作项">
    <ng-template kendoGridCellTemplate let-dataItem>
      <label *ngFor="let ops of dataItem.viewOp" style="margin-right:20px;">
        <input type="checkbox" id="{{ops.id}}" class="k-checkbox" [(ngModel)]="ops.checked" (change)="opChange($event,ops.id,dataItem.id,ops)" >
        <label class="k-checkbox-label" for="{{ops.id}}">{{ops.name}}({{ops.code}})</label>
      </label>
    </ng-template>
  </kendo-grid-column>

  <ng-template kendoGridDetailTemplate let-dataItem let-rowIndex="rowIndex">
    <kendo-grid [data]="dataItem.children" [scrollable]="virtual">
      <kendo-grid-column field="name" title="功能名称" [width]="200">
        <ng-template kendoGridCellTemplate let-dataItem>
          {{dataItem.name}}({{dataItem.code}})
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column  title="操作项">
        <ng-template kendoGridCellTemplate let-dataItem>
          <label *ngFor="let ops of dataItem.viewOp" style="margin-right:20px;">
            <input type="checkbox" id="{{ops.id}}"  class="k-checkbox" [(ngModel)]="ops.checked" (change)="opChange($event,ops.id,dataItem.id,ops)" >
            <label class="k-checkbox-label" for="{{ops.id}}">{{ops.name}}({{ops.code}})</label>
          </label>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </ng-template>


  <ng-template kendoGridNoRecordsTemplate>
    <div *ngIf="!isLoading">暂时还没有记录 <a href="javascript:;" (click)="refresh()">点击刷新</a>.</div>
    <span  *ngIf="isLoading" class="k-icon k-i-loading" style="font-size: 32px;color:#ff6b58;left:50%;margin-left:-16px;margin-top: 50px;"></span>
  </ng-template>
</kendo-grid>

