<danger [alertData]="alertData"></danger>
<success [alertData]="alertData"></success>
<info [alertData]="alertData"></info>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav" style="float:right">
      <li>
        <a class="" href="#">个人设置</a>
      </li>
      <li>
        <a class="" href="#">消息</a>
      </li>
      <li>
        <a class="" (click)="logout()"  href="#" title="退出">
          <span class="glyphicon glyphicon-off top-func-bottom"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid" *ngIf="user">
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-lg-3 col-md-3">
      <div>
        <div class="teamMate">
          <img [src]="imageUrl('avata_128')" alt="Andrew Fuller">
                            <span class="mate-info">
                              <h2>{{user.name}}</h2>
                            </span>
        </div>
      </div>
      <kendo-panelbar (stateChange)="stateChange($event)" [selectable]="false">
        <kendo-panelbar-item
          *ngFor="let route of (router.config | urlshow)"
          [id]="'admin/'+route.path"
          [title]="route.data.name ? route.data.name : 'home'"
          [selected]="'admin/'+route.path == selectedId"
          [expanded]="true"
        >
          <kendo-panelbar-item
            *ngFor="let child of route.children"
            [title]="child?.data.name"
            [id]="'admin/'+route.path + '/' + child?.path"
            [selected]="'admin/'+route.path + '/' + child?.path == selectedId"
          >
          </kendo-panelbar-item>
        </kendo-panelbar-item>
      </kendo-panelbar>
    </div>
    <div class="col-xs-12 col-sm-9 col-lg-9 col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
