<danger [alertData]="alertData"></danger>
<success [alertData]="alertData"></success>
<info [alertData]="alertData"></info>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav" style="float:right">
      <li>
        <a class="" href="#">个人设置</a>
      </li>
      <li>
        <a class="" href="#">消息</a>
      </li>
      <li>
        <a (click)="logout()"  href="javascript:void(0);" title="退出">
<!--          <span class="glyphicon glyphicon-off "></span>-->
          切换用户
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid" *ngIf="user" style="padding-top: 70px;">
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-lg-2 col-md-3">
      <div>
        <div class="teamMate">
          <img [src]="imageUrl('avata_128')" alt="{{user.name}}">
                            <span class="mate-info">
                              <h2>{{user.name}}</h2>
                            </span>
        </div>
      </div>
      <kendo-panelbar (stateChange)="stateChange($event)" [selectable]="false">
        <kendo-panelbar-item
          *ngFor="let route of (router.config[2].children | urlshow)"
          [id]="'admin/'+route.path"
          [title]="route.data.name ? route.data.name : 'home'"
          [selected]="'admin/'+route.path == selectedId"
          [expanded]="route.data.expanded"
        >
          <kendo-panelbar-item
            *ngFor="let child of route.children"
            [title]="child?.data.name"
            [id]="'admin/'+route.path + '/' + child?.path"
            [selected]="(selectedId=='admin/'+route.path + '/' + child?.path)||child.data.selected==true"
          >
          </kendo-panelbar-item>
        </kendo-panelbar-item>
      </kendo-panelbar>
    </div>
    <div class="col-xs-8 col-sm-8 col-lg-10 col-md-9">
      <ol class="breadcrumb">
        <li *ngFor="let bread of breadcrumb">
          <a href="{{bread.path}}">{{bread.name}}</a>
        </li>
      </ol>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li>
        <a href="javascript:;">Powered by Dreams</a>
      </li>
    </ul>
  </div>
</nav>
