<div style="width: 100%;height:100%;padding-top: 150px;background-color: #eee;">
  <div class="row login-container">
    <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6">
      <div class="card">
        <div class="card-block">
          <form class="k-form">
            <fieldset>
              <legend>请您登录</legend>
              <label class="k-form-field">
                <label for="username">用户名：</label>
                <input id="username" name="username" [(ngModel)]="user.username" #username="ngModel" class="k-textbox" placeholder="用户名" required autofocus>
              </label>
              <label class="k-form-field">
                <label for="password">密码：</label>
                <input id="password" name="password" [(ngModel)]="user.password" class="k-textbox" placeholder="密码" type="password" />
              </label>
              <label>
                <button kendoButton (click)="onButtonClick()" [icon]="'lock'" type="submit" >登录</button>
              </label>
              <label>${{errorMessage}}</label>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

