<div style="width: 100%;height:100%;padding-top: 150px;background-color: #eee;">
  <div class="row login-container">
    <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6">
      <div class="card">
        <div class="card-block">
          <form class="k-form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <fieldset>
              <legend>请您登录</legend>
              <label class="k-form-field">
                <label for="username">用户名：</label>
                <input id="username" name="username" [(ngModel)]="user.username" class="k-textbox" placeholder="用户名" required autofocus>
              </label>
              <label class="k-form-field">
                <label for="password">密码：</label>
                <input id="password" name="password" [(ngModel)]="user.password" class="k-textbox" placeholder="密码" type="password" />
              </label>
              <label>
                <button kendoButton [iconClass]="iconClass" type="submit" [disabled]="isDisabled||!loginForm.form.valid" [primary]="true" >
                  &nbsp;登录
                </button>
              </label>
            </fieldset>
          </form>

          <div class="row" style="padding: 16px;padding-top: 0px;">
            <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6">
              <a routerLink="#">忘记密码？</a>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6" style="text-align: right">
              没有账户？请<a routerLink="/reg">点击注册</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

