<!--The whole content below can be removed with the new code.-->
<danger [alertData]="alertData"></danger>
<success [alertData]="alertData"></success>
<info [alertData]="alertData"></info>
<div class="layout"  *ngIf="user">
  <div class="navigation-pane">
    <kendo-panelbar (stateChange)="stateChange($event)" [selectable]="false">
      <kendo-panelbar-item
        *ngFor="let route of router.config"
        [id]="route.path"
        [title]="route.data.name ? route.data.name : 'home'"
        [selected]="route.path == selectedId">
        <kendo-panelbar-item
          *ngFor="let child of route.children"
          [title]="child?.path || 'about'"
          [id]="route.path + '/' + child?.path"
          [selected]="route.path + '/' + child?.path == selectedId"
        >
        </kendo-panelbar-item>
      </kendo-panelbar-item>
    </kendo-panelbar>
  </div>
  <div class="content-pane">
    <router-outlet></router-outlet>
  </div>
</div>
<login-area *ngIf="!user" (updateUser)="userChange($event)" ></login-area>

