<kendo-tabstrip>
  <kendo-tabstrip-tab [title]="'工程师'" [selected]="true">
    <ng-template kendoTabContent>
      <kendo-grid [data]="users" [scrollable]="virtual" [height]="height" >
        <ng-template kendoGridToolbarTemplate>
          <button kendoButton  (click)="add()" [primary]="true">新增</button>
          <button kendoButton style="float:right" class="k-button"  (click)="refresh()" title="刷新数据">
            <span style="color:green" class="k-icon k-i-refresh"></span>
          </button>
        </ng-template>

        <kendo-grid-column field="username" title="工程师姓名">
        </kendo-grid-column>
        <kendo-grid-column field="gender" title="性别">
        </kendo-grid-column>
        <kendo-grid-column field="email" title="电邮">
        </kendo-grid-column>
        <kendo-grid-column field="phone" title="联系电话">
        </kendo-grid-column>

        <kendo-grid-column field="id" title="操作">
          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <button kendoButton (click)="deleteRow(dataItem.id)" >删除</button>
          </ng-template>
        </kendo-grid-column>

        <ng-template kendoGridNoRecordsTemplate>
          <div *ngIf="!isLoading">暂时还没有记录 <a href="javascript:;" (click)="refresh()">点击刷新</a>.</div>
          <span  *ngIf="isLoading" class="k-icon k-i-loading" style="font-size: 32px;color:#ff6b58;left:50%;margin-left:-16px;margin-top: 50px;"></span>
        </ng-template>
      </kendo-grid>

    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab [title]="'录入人员'">
    <ng-template kendoTabContent>
      <p>
        The City of New York, often called New York City or simply New York, is the most populous city in the United States. With an estimated 2015 population of 8,550,405 distributed over a land area of just 305 square miles (790 km2), New York City is also the most densely populated major city in the United States. Located at the southern tip of the state of New York, the city is the center of the New York metropolitan area, one of the most populous urban agglomerations in the world.
      </p>
      <p>
        A global power city, New York City exerts a significant impact upon commerce, finance, media, art, fashion, research, technology, education, and entertainment, its fast pace defining the term New York minute. Home to the headquarters of the United Nations, New York is an important center for international diplomacy and has been described as the cultural and financial capital of the world.
      </p>
    </ng-template>
  </kendo-tabstrip-tab>

</kendo-tabstrip>
