<div class="row">
  <div class="col-xs-12 col-sm-12 offset-sm-12">
    <div class="card">
      <div class="card-block">
        <form class="k-form"  (ngSubmit)="onSubmit()" #userForm="ngForm">
          <label class="k-form-field">
            <img [src]="imageUrl('avata_128')" (click)="changeAvatar()" style="border:#ccc 1px solid;border-radius: 100%;cursor: pointer;">
          </label>
          <label class="k-form-field">
            <span for="name">姓名（登录时使用）<span class="k-required">*</span></span>
            <input id="name" type="text" class="k-textbox" value="" [(ngModel)]="user.name" placeholder="姓名" required  name="name" />
          </label>
          <div class="row" style="margin-bottom: 20px">
            <div class="col-xs-6 col-sm-6 offset-sm-6">
              <label class="k-form-field">
                <span for="phone">电话</span>
                <input id="phone" type="text" class="k-textbox" value=""  [(ngModel)]="user.phone" placeholder="电话"  name="phone" />
              </label>
            </div>
            <div class="col-xs-6 col-sm-6 offset-sm-6">
              <label class="k-form-field">
                <span for="email">电邮地址</span>
                <input id="email" type="text" class="k-textbox" value=""  [(ngModel)]="user.email" placeholder="电邮地址"  name="email" />
              </label>
            </div>
          </div>

          <label class="k-form-field">
            <button class="k-button k-primary" [disabled]="!userForm.form.valid">保存</button>
          </label>
        </form>
      </div>
    </div>
  </div>
</div>
<div kendoDialogContainer></div>
<ng-template #itemListRef>
  <div style="width:400px;height:300px">
    <img [src]="imageUrl('avata_128')" style="width:200px;height:200px;border:#ccc 1px solid;margin-bottom: 8px;">

    <kendo-upload
      [saveUrl]="uploadSaveUrl"
      [withCredentials]="false"
    >
      <kendo-upload-messages
        select="选择文件"
      >
      </kendo-upload-messages>
    </kendo-upload>
  </div>

</ng-template>

<ng-template #actionTemplate>
  <button kendoButton (click)="cancel()">取消</button>
</ng-template>
