<div class="row">
  <div class="col-xs-12 col-sm-12 offset-sm-12">
    <div class="card">
      <div class="card-block">
        <form class="k-form"  (ngSubmit)="onSubmit()" #userForm="ngForm">
          <label class="k-form-field">
            <img [src]="getAvatarImageUrl(user)" (click)="changeAvatar()" style="width:200px;height:200px;border:#ccc 1px solid;border-radius: 100%;cursor: pointer;">
          </label>
          <label class="k-form-field">
            <span for="name">姓名（登录时使用）<span class="k-required">*</span></span>
            <input id="name" type="text" class="k-textbox" value="" [(ngModel)]="user.name" placeholder="姓名" required  name="name" />
          </label>
          <div class="row" style="margin-bottom: 20px">
            <div class="col-xs-6 col-sm-6 offset-sm-6">
              <label class="k-form-field">
                <span for="phone">电话</span>
                <input id="phone" type="text" class="k-textbox" value=""  [(ngModel)]="user.phone" placeholder="电话"  name="phone" />
              </label>
            </div>
            <div class="col-xs-6 col-sm-6 offset-sm-6">
              <label class="k-form-field">
                <span for="email">电邮地址</span>
                <input id="email" type="text" class="k-textbox" value=""  [(ngModel)]="user.email" placeholder="电邮地址"  name="email" />
              </label>
            </div>
          </div>

          <label class="k-form-field">
            <button class="k-button k-primary" [disabled]="!userForm.form.valid">保存</button>
          </label>
        </form>
      </div>
    </div>
  </div>
</div>
<div kendoDialogContainer></div>
<ng-template #itemListRef>
  <div style="width:500px;height:400px">

    <kendo-tabstrip>
      <kendo-tabstrip-tab *ngFor="let sa of sysAvatars; let i = index" [title]="sa.name" [selected]="i==0?true:false">
        <ng-template kendoTabContent >
          <ul class="avatar-list">
            <li *ngFor="let img of sa.imgs">
              <img src="{{serverpath+img}}" (click)="changeSysAvatar(img)" >
            </li>
          </ul>
        </ng-template>
      </kendo-tabstrip-tab>
    </kendo-tabstrip>

    <kendo-upload
      [saveUrl]="uploadSaveUrl"
      [withCredentials]="false"
      [multiple]="false"
      [restrictions]="myRestrictions"
      (success)="successResult($event)"
      (error)="errorResult($event)"
    >
      <kendo-upload-messages
        select="选择文件"
        headerStatusUploaded="完成"
        invalidFileExtension="文件格式无效"
      >
      </kendo-upload-messages>
    </kendo-upload>
  </div>

</ng-template>

<ng-template #actionTemplate>
  <button kendoButton (click)="cancel()">取消</button>
</ng-template>
