<div [@pageChanged]="'in'">
  <kendo-grid [data]="gridData" [scrollable]="virtual" [height]="height" [pageable]="true" [skip]="skip" [pageSize]="pageSize" (pageChange)="pageChange($event)" >
    <ng-template kendoGridToolbarTemplate>
      <button kendoButton  (click)="add()" *ngIf="showAddBtn" [icon]="'plus'"></button>
      <button kendoButton style="float:right" class="k-button"  (click)="refresh()" title="刷新数据">
        <span style="color:green" class="k-icon k-i-refresh"></span>
      </button>
    </ng-template>

    <kendo-grid-column field="name" title="组织名称">
    </kendo-grid-column>
    <kendo-grid-column field="description" title="组织简介">
    </kendo-grid-column>

    <kendo-grid-column field="id" title="操作">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <button kendoButton (click)="editRow(dataItem.id)" *ngIf="showListEditBtn" [icon]="'edit'"></button>
        <button kendoButton (click)="editRow(dataItem.id)" *ngIf="!showListEditBtn" [icon]="'zoom'"></button>
        <button kendoButton (click)="deleteRow(dataItem.id)" *ngIf="showListDeleteBtn" [icon]="'delete'" ></button>
      </ng-template>
    </kendo-grid-column>

    <ng-template kendoGridNoRecordsTemplate>
      <div *ngIf="!isLoading">暂时还没有记录 <a href="javascript:;" (click)="refresh()">点击刷新</a>.</div>
      <span  *ngIf="isLoading" class="k-icon k-i-loading" style="font-size: 32px;color:#ff6b58;left:50%;margin-left:-16px;margin-top: 50px;"></span>
    </ng-template>

    <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
      <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
      <kendo-pager-numeric-buttons [buttonCount]="10"></kendo-pager-numeric-buttons>
      <kendo-pager-next-buttons></kendo-pager-next-buttons>
      <div class="k-pager-info k-label">{{firstRecord}}-{{lastRecord}} 共 {{total}}条记录</div>
    </ng-template>
  </kendo-grid>
  <div kendoDialogContainer></div>
</div>

