<div class="row">
  <div class="col-xs-12 col-sm-12 offset-sm-12">
    <div class="card">
      <div class="card-block">
        <form class="k-form"  (ngSubmit)="onSubmit()" #orderForm="ngForm">
          <div class="k-form-field">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <p style="font-weight: 700;">
                  来电日期<span class="k-required">*</span>
                </p>
                <kendo-datepicker #incoming_date [value]="today" name="incoming_date" [format]="'yyyy年MM月dd日'"
                (valueChange)="dateChange($event)"
                >
                  <kendo-datepicker-messages
                    today="今天"
                    toggle="选择日期"
                  ></kendo-datepicker-messages>
                </kendo-datepicker>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <p style="font-weight: 700;">
                  时刻<span class="k-required">*</span>
                </p>
                <lmtimepicker [timeNow]="time"  id="timetest" name="timetest" (change)="onTimeChange($event)" ></lmtimepicker>
              </div>
            </div>
          </div>
          <label class="k-form-field">
            <span for="custom_name">客户名称<span class="k-required">*</span></span>
            <input id="custom_name" class="k-textbox" placeholder="客户名称" required [(ngModel)]="order.custom_name" name="custom_name" />
          </label>
          <label class="k-form-field">
            <span for="custom_phone">来电号码<span class="k-required">*</span></span>
            <input id="custom_phone" class="k-textbox" placeholder="来电号码" required [(ngModel)]="order.custom_phone" name="custom_phone" />
          </label>
          <label class="k-form-field">
            <div class="ddl-float">
              <label>组织:<span class="k-required">*</span> </label>
              <kendo-dropdownlist
                name="group"
                [data]="groups"
                [textField]="'name'"
                [valueField]="'id'"
                [(ngModel)]="order.group"
                [valuePrimitive]="true"
                (valueChange)="initCorporation($event)"
              >
              </kendo-dropdownlist>
              <span class="k-icon k-i-loading loading loading-position" *ngIf="groupLoading"></span>
            </div>
            <div class="ddl-float">
              <label>公司：<span class="k-required">*</span></label>
              <kendo-dropdownlist
                name="corporation"
                [data]="corporations"
                [textField]="'name'"
                [valueField]="'id'"
                [(ngModel)]="order.corporation"
                (valueChange)="initCorpBuilding($event)"
              >
              </kendo-dropdownlist>
              <span class="k-icon k-i-loading loading loading-position" *ngIf="corporationLoading"></span>
            </div>
            <div class="ddl-float">
              <label>公司所在楼层位置：<span class="k-required">*</span></label>
              <kendo-dropdownlist
                name="position"
                [data]="corpBuildings"
                [textField]="'union'"
                [valueField]="'id'"
                [valuePrimitive]="true"
                (valueChange)="positionChange($event)"
                [(ngModel)]="order.custom_position"
              >
              </kendo-dropdownlist>
              <span class="k-icon k-i-loading loading loading-position" *ngIf="corpBuildingLoading"></span>
            </div>
            <div style="clear:both;">

            </div>
          </label>

          <label class="k-form-field">
            <span for="remark">备注</span>
            <input id="remark" class="k-textbox" placeholder="备注" [(ngModel)]="order.remark" name="remark" />
          </label>

          <div class="k-form-field">
            <label style="font-weight: 700;">客户需求描述(方便新增时快速生成工单，与实际工单数据并不保持关联)</label>
            <kendo-grid
              [data]="needs"
              (edit)="editHandler($event)" (cancel)="cancelHandler($event)"
              (save)="saveHandler($event)" (remove)="removeHandler($event)"
              (add)="addHandler($event)"
              #kendoGridInstance="kendoGrid"
            >

              <ng-template kendoGridToolbarTemplate>
                <button kendoGridAddCommand type="button" class="k-primary" >新增</button>
                <button type="button" class="k-button" (click)="clearTmpCookie()" >清空</button>
              </ng-template>

              <kendo-grid-column field="type" title="类型">
                <ng-template kendoGridCellTemplate let-dataItem>
                  {{dataItem.type?.name}}
                </ng-template>
                <ng-template kendoGridEditTemplate
                             let-dataItem="dataItem"
                             let-formGroup="formGroup"
                >
                  <div class="ddl-float-2">
                    <kendo-dropdownlist
                      [data]="equiptypes"
                      textField="name"
                      valueField="code"
                      [(ngModel)]="dataItem.type"
                      name="equiptype"
                      (selectionChange)="equipTypeChange($event)"
                      [formControl]="formGroup.get('type')"
                    >
                    </kendo-dropdownlist>
                    <span *ngIf="equipTypeLoading" class="k-icon k-i-loading loading loading-position-2"></span>
                  </div>

                </ng-template>
              </kendo-grid-column>

              <kendo-grid-column field="equipment" title="设备">
                <ng-template kendoGridCellTemplate let-dataItem>
                  {{dataItem.equipment.name}}
                </ng-template>
                <ng-template kendoGridEditTemplate
                             let-dataItem="dataItem"
                             let-formGroup="formGroup"
                >
                  <div class="ddl-float-2">
                    <kendo-dropdownlist
                      [data]="equipments"
                      [(ngModel)]="dataItem.equipment"
                      textField="name"
                      valueField="value"
                      name="equipments"
                      [formControl]="formGroup.get('equipment')"
                      (selectionChange)="equipChange($event)"
                    >
                    </kendo-dropdownlist>
                    <span *ngIf="equipmentLoading" class="k-icon k-i-loading loading loading-position-2"></span>
                  </div>
                </ng-template>
              </kendo-grid-column>

              <kendo-grid-column field="op" title="故障名">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <span>{{dataItem.op.name}}</span>
                </ng-template>
                <ng-template kendoGridEditTemplate
                             let-dataItem="dataItem"
                             let-formGroup="formGroup"
                >
                  <div class="ddl-float-2">
                    <kendo-dropdownlist
                      [data]="equipOps"
                      textField="name"
                      valueField="id"
                      [(ngModel)]="dataItem.op"
                      name="op"
                      [formControl]="formGroup.get('op')"
                    >
                    </kendo-dropdownlist>
                    <span *ngIf="equipOpLoading" class="k-icon k-i-loading loading loading-position-2"></span>
                  </div>

                </ng-template>
              </kendo-grid-column>

              <kendo-grid-column field="no" title="数量">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <span>{{dataItem.no}}</span>
                </ng-template>
                <ng-template kendoGridEditTemplate
                             let-dataItem="dataItem"
                             let-formGroup="formGroup"
                >
                  <kendo-numerictextbox id="no" [format]="'n0'"  name="no" [(ngModel)]="dataItem.no" [formControl]="formGroup.get('no')">
                  </kendo-numerictextbox>
                </ng-template>
              </kendo-grid-column>


              <kendo-grid-command-column title="操作" width="220">
                <ng-template kendoGridCellTemplate let-isNew="isNew">
                  <button type="button" kendoGridEditCommand class="k-primary">编辑</button>
                  <button type="button" kendoGridRemoveCommand>删除</button>
                  <button type="button" class="k-primary" kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ? '保存' : '更新' }}</button>
                  <button type="button" kendoGridCancelCommand>{{ isNew ? '取消' : '取消' }}</button>
                </ng-template>
              </kendo-grid-command-column>
              <ng-template kendoGridNoRecordsTemplate>
                <div>暂时还没有记录 <a href="javascript:;" (click)="refreshBuilding()">点击刷新</a>.</div>
              </ng-template>
            </kendo-grid>
          </div>




          <div class="text-left">
            <button class="k-button k-primary" type="button" [disabled]="!orderForm.form.valid" (click)="onOrderSubmit(actionTemplate)">提交</button>
            <button class="k-button">重置</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div kendoDialogContainer></div>
<ng-template #itemListRef>
  <kendo-grid #gridWorkerOrder [data]="workerOrders">
    <kendo-grid-column title="选择" width="70">
      <ng-template kendoGridCellTemplate let-dataItem>
        <input type="checkbox" id="auth-2fa" class="k-checkbox" checked="dataItem.checked">
        <label class="k-checkbox-label" for="auth-2fa"></label>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column title="公司" field="corporation" >
      <ng-template kendoGridCellTemplate let-dataItem>
        {{dataItem.corporation.name}}
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column title="所在位置" field="custom_position" >
      <ng-template kendoGridCellTemplate let-dataItem>
        {{dataItem.custom_position.union}}
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column title="工作内容描述" >
      <ng-template kendoGridCellTemplate let-dataItem>
        {{dataItem.equipment.name}}{{dataItem.op.name}}
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column title="加急" >
      <ng-template kendoGridCellTemplate let-dataItem>
        <kendo-switch [(ngModel)]="dataItem.important" name="important" [onLabel]="'是'" [offLabel]="'否'"></kendo-switch>
      </ng-template>
    </kendo-grid-column>


    <kendo-grid-column title="工单建立时间" >
      <ng-template kendoGridCellTemplate let-dataItem>
        {{dataItem.incoming_date_timestamp|timeshow}}
      </ng-template>
    </kendo-grid-column>

    <ng-template kendoGridDetailTemplate let-dataItem let-rowIndex="rowIndex">
      <section>
        <p style="margin-left: 92px;">
          <strong for="operation_remark">备注&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
          <input id="operation_remark" class="k-textbox" placeholder="备注" [(ngModel)]="dataItem.remark" name="operation_remark" />
        </p>
        <p style="margin-left: 70px;">
          <input type="checkbox" id="auth-2fd{{rowIndex}}" class="k-checkbox"  [(ngModel)]="dataItem.showWorker" (change)="workerCheckChanged($event,dataItem)" >
          <label class="k-checkbox-label" for="auth-2fd{{rowIndex}}">设置工程师&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <kendo-dropdownlist
            [data]="workers"
            textField="name"
            valueField="id"
            [(ngModel)]="dataItem.worker"
            [valuePrimitive]="true"
            name="worker"
            (selectionChange)="workerChange($event)"
            [disabled]="!dataItem.showWorker"
          >
          </kendo-dropdownlist>

          <input type="checkbox" id="auth-2fe{{rowIndex}}" class="k-checkbox"  [(ngModel)]="dataItem.showWorker" >
          <label class="k-checkbox-label" for="auth-2fe{{rowIndex}}">设置指派时间</label>
          <kendo-datepicker #call_date [value]="dataItem.call_date" name="call_date" [format]="'yyyy年MM月dd日'"
                            [(ngModel)]="dataItem.call_date" [disabled]="!dataItem.showWorker"
          >
            <kendo-datepicker-messages
              today="今天"
              toggle="选择日期"
            ></kendo-datepicker-messages>
          </kendo-datepicker>
          <lmtimepicker [timeNow]="dataItem.call_date_time" [disabled]="dataItem.showWorker"  name="call_date_time" (change)="onCallDateTimeChange($event)"  ></lmtimepicker>

        </p>

        <p style="margin-left: 70px;">
          <input type="checkbox" id="auth-2fb{{rowIndex}}" class="k-checkbox"  [(ngModel)]="dataItem.showArriveDate" (click)="arriveCheckChanged($event,dataItem)" >
          <label class="k-checkbox-label" for="auth-2fb{{rowIndex}}">设置工单开始处理时间</label>

          <kendo-datepicker #incoming_date [value]="dataItem.arrive_date" name="arrive_date" [format]="'yyyy年MM月dd日'"
                            [(ngModel)]="dataItem.arrive_date" [disabled]="!dataItem.showArriveDate"
          >
            <kendo-datepicker-messages
              today="今天"
              toggle="选择日期"
            ></kendo-datepicker-messages>
          </kendo-datepicker>
          <lmtimepicker [timeNow]="dataItem.arrive_date_time" [disabled]="dataItem.showArriveDate"  name="arrive_date_time" (change)="onArriveDateTimeChange($event)"  ></lmtimepicker>

        </p>

        <p style="margin-left: 70px;">
          <input type="checkbox" id="auth-2fc{{rowIndex}}" class="k-checkbox"  [(ngModel)]="dataItem.showFinishDate" (click)="finishCheckChanged($event,dataItem)" >
          <label class="k-checkbox-label" for="auth-2fc{{rowIndex}}">设置工单完成时间</label>
          <kendo-datepicker #incoming_date [value]="dataItem.finish_date" name="finish_date" [format]="'yyyy年MM月dd日'"
                            [(ngModel)]="dataItem.finish_date" [disabled]="!dataItem.showFinishDate"
          >
            <kendo-datepicker-messages
              today="今天"
              toggle="选择日期"
            ></kendo-datepicker-messages>
          </kendo-datepicker>
          <lmtimepicker [timeNow]="dataItem.finish_date_time" [disabled]="dataItem.showFinishDate" name="finish_date_time" (change)="onFinishDateTimeChange($event)" ></lmtimepicker>
        </p>
      </section>
    </ng-template>
  </kendo-grid>
</ng-template>

<ng-template #actionTemplate>
  <button kendoButton (click)="cancel()">取消</button>
  <button kendoButton (click)="no()" [primary]="true" [icon]="SaveOrderLoading" [disabled]="isHiddenSaveOrderButton" >否，我自己来建立工单</button>
  <button kendoButton [primary]="true" (click)="yes()" [icon]="SaveOrderAllLoading" [disabled]="isHiddenSaveOrderAllButton">
    保存，根据用户需求快速建立工单
  </button>
</ng-template>
