.card{
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  .card-block{
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
  }
}
.ddl-float{
  float:left;
  margin-right: 10px;
  position:relative;
  padding-right: 30px;
}
.loading{
  font-size: 22px;
  color:#ff6b58;
}
.loading-position{
  position:absolute;
  top:29px;
  right:5px;
}
.ddl-float-2{
  position:relative;
  padding-right: 30px;
}
.loading-position-2{
  position:absolute;
  top:5px;
  right:5px;
}
.pos-r{
  position:relative;
}
