<div class="row">
  <div class="col-xs-12 col-sm-12 offset-sm-12">
    <div class="card">
      <div class="card-block">
        <form class="k-form"  (ngSubmit)="onSubmit()" #orderForm="ngForm">
          <label class="k-form-field">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <p>
                  来电时间<span class="k-required">*</span>
                </p>
                <kendo-datepicker #incoming_date [value]="today" name="incoming_date" [format]="'yyyy年MM月dd日'"
                (valueChange)="dateChange($event)"
                >
                  <kendo-datepicker-messages
                    today="今天"
                    toggle="选择日期"
                  ></kendo-datepicker-messages>
                </kendo-datepicker>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 pos-r">
                <p>
                  &nbsp;
                </p>
                <kendo-numerictextbox id="hour" [format]="'n0'" [(ngModel)]="order.hour" style="width: 80px;" name="hour" (focus)="timeFocus($event)">
                </kendo-numerictextbox>
                <span style="position: absolute;left:100px;bottom:5px;">时<span class="k-required">*</span></span>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 pos-r">
                <p>
                  &nbsp;
                </p>
                <kendo-numerictextbox id="minute" [format]="'n0'" [(ngModel)]="order.minute" style="width: 80px;" name="minute" (focus)="timeFocus($event)">
                </kendo-numerictextbox>
                <span style="position: absolute;left:100px;bottom:5px;">分<span class="k-required">*</span></span>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 pos-r">
                <p>
                  &nbsp;
                </p>
                <kendo-numerictextbox id="second" [format]="'n0'" [(ngModel)]="order.second" style="width: 80px;" name="second" (focus)="timeFocus($event)">
                </kendo-numerictextbox>
                <span style="position: absolute;left:100px;bottom:5px;">秒<span class="k-required">*</span></span>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 pos-r">
                <p>
                  &nbsp;
                </p>
                <span class="k-icon k-i-lock" (click)="lockClick($event)" *ngIf="timeLock" style="color:#ff6b58;font-size:25px;height:30px;line-height: 30px;cursor: pointer;"></span>
                <span class="k-icon k-i-unlock" (click)="lockClick($event)" *ngIf="!timeLock" style="color:#ff6b58;font-size:25px;height:30px;line-height: 30px;cursor: pointer;"></span>
              </div>
            </div>
          </label>
          <label class="k-form-field">
            <span for="no">订单序号<span class="k-required">*</span></span>
            <input id="no" class="k-textbox" placeholder="订单序号" style="width: 300px;float:left;" required [(ngModel)]="order.no" name="no" disabled />
            <span class="k-icon k-i-loading loading" *ngIf="noLoading" style="float:left;margin:5px 0px 0px 10px"></span>
            <div style="clear:both"></div>
          </label>
          <label class="k-form-field">
            <span for="no">加急</span>
            <kendo-switch [(ngModel)]="order.important" name="important" [onLabel]="'是'" [offLabel]="'否'"></kendo-switch>
          </label>
          <label class="k-form-field">
            <span for="custom_name">客户名称<span class="k-required">*</span></span>
            <input id="custom_name" class="k-textbox" placeholder="客户名称" required [(ngModel)]="order.custom_name" name="custom_name" />
          </label>
          <label class="k-form-field">
            <span for="custom_phone">来电号码<span class="k-required">*</span></span>
            <input id="custom_phone" class="k-textbox" placeholder="来电号码" required [(ngModel)]="order.custom_phone" name="custom_phone" />
          </label>
          <label class="k-form-field">
            <div class="ddl-float">
              <label>组织:<span class="k-required">*</span> </label>
              <kendo-dropdownlist
                name="group"
                [data]="groups"
                [textField]="'name'"
                [valueField]="'id'"
                [(ngModel)]="order.group"
                [valuePrimitive]="true"
                (valueChange)="initCorporation($event)"
              >
              </kendo-dropdownlist>
              <span class="k-icon k-i-loading loading loading-position" *ngIf="groupLoading"></span>
            </div>
            <div class="ddl-float">
              <label>公司：<span class="k-required">*</span></label>
              <kendo-dropdownlist
                name="corporation"
                [data]="corporations"
                [textField]="'name'"
                [valueField]="'id'"
                [valuePrimitive]="true"
                [(ngModel)]="order.corporation"
                (valueChange)="initCorpBuilding($event)"
              >
              </kendo-dropdownlist>
              <span class="k-icon k-i-loading loading loading-position" *ngIf="corporationLoading"></span>
            </div>
            <div class="ddl-float">
              <label>公司所在楼层位置：<span class="k-required">*</span></label>
              <kendo-dropdownlist
                name="position"
                [data]="corpBuildings"
                [textField]="'union'"
                [valueField]="'id'"
                [valuePrimitive]="true"
                [(ngModel)]="order.custom_position"
              >
              </kendo-dropdownlist>
              <span class="k-icon k-i-loading loading loading-position" *ngIf="corpBuildingLoading"></span>
            </div>
            <div style="clear:both;">

            </div>
          </label>

          <div class="k-form-field">
            <label style="font-weight: 700;">客户需求描述:</label>
            <kendo-grid
              [data]="needs"
              (edit)="editHandler($event)" (cancel)="cancelHandler($event)"
              (save)="saveHandler($event)" (remove)="removeHandler($event)"
              (add)="addHandler($event)"
              #kendoGridInstance="kendoGrid"
            >

              <ng-template kendoGridToolbarTemplate>
                <button kendoGridAddCommand type="button" >新增</button>
              </ng-template>

              <kendo-grid-column field="type" title="类型">
                <ng-template kendoGridCellTemplate let-dataItem>
                  {{dataItem.type?.name}}
                </ng-template>
                <ng-template kendoGridEditTemplate
                             let-dataItem="dataItem"
                             let-formGroup="formGroup"
                >
                  <div class="ddl-float-2">
                    <kendo-dropdownlist
                      [data]="equiptypes"
                      textField="name"
                      valueField="code"
                      [(ngModel)]="dataItem.type"
                      name="equiptype"
                      (selectionChange)="equipTypeChange($event)"
                      [formControl]="formGroup.get('type')"
                    >
                    </kendo-dropdownlist>
                    <span *ngIf="equipTypeLoading" class="k-icon k-i-loading loading loading-position-2"></span>
                  </div>

                </ng-template>
              </kendo-grid-column>

              <kendo-grid-column field="equipment" title="设备">
                <ng-template kendoGridCellTemplate let-dataItem>
                  {{dataItem.equipment.name}}
                </ng-template>
                <ng-template kendoGridEditTemplate
                             let-dataItem="dataItem"
                             let-formGroup="formGroup"
                >
                  <div class="ddl-float-2">
                    <kendo-dropdownlist
                      [data]="equipments"
                      [(ngModel)]="dataItem.equipment"
                      textField="name"
                      valueField="value"
                      name="equipments"
                      [formControl]="formGroup.get('equipment')"
                      (selectionChange)="equipChange($event)"
                    >
                    </kendo-dropdownlist>
                    <span *ngIf="equipmentLoading" class="k-icon k-i-loading loading loading-position-2"></span>
                  </div>
                </ng-template>
              </kendo-grid-column>

              <kendo-grid-column field="op" title="故障名">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <span>{{dataItem.op.name}}</span>
                </ng-template>
                <ng-template kendoGridEditTemplate
                             let-dataItem="dataItem"
                             let-formGroup="formGroup"
                >
                  <div class="ddl-float-2">
                    <kendo-dropdownlist
                      [data]="equipOps"
                      textField="name"
                      valueField="id"
                      [(ngModel)]="dataItem.op"
                      name="op"
                      [formControl]="formGroup.get('op')"
                    >
                    </kendo-dropdownlist>
                    <span *ngIf="equipOpLoading" class="k-icon k-i-loading loading loading-position-2"></span>
                  </div>

                </ng-template>
              </kendo-grid-column>

              <kendo-grid-column field="no" title="数量">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <span>{{dataItem.no}}</span>
                </ng-template>
                <ng-template kendoGridEditTemplate
                             let-dataItem="dataItem"
                             let-formGroup="formGroup"
                >
                  <kendo-numerictextbox id="no" [format]="'n0'"  name="no" [(ngModel)]="dataItem.no" [formControl]="formGroup.get('no')">
                  </kendo-numerictextbox>
                </ng-template>
              </kendo-grid-column>


              <kendo-grid-command-column title="操作" width="220">
                <ng-template kendoGridCellTemplate let-isNew="isNew">
                  <button type="button" kendoGridEditCommand class="k-primary">编辑</button>
                  <button type="button" kendoGridRemoveCommand>删除</button>
                  <button type="button" class="k-primary" kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ? '保存' : '更新' }}</button>
                  <button type="button" kendoGridCancelCommand>{{ isNew ? '取消' : '取消' }}</button>
                </ng-template>
              </kendo-grid-command-column>
              <ng-template kendoGridNoRecordsTemplate>
                <div>暂时还没有记录 <a href="javascript:;" (click)="refreshBuilding()">点击刷新</a>.</div>
              </ng-template>
            </kendo-grid>
          </div>




          <div class="text-left">
            <button class="k-button k-primary" [disabled]="!orderForm.form.valid">提交</button>
            <button class="k-button">重置</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div kendoDialogContainer></div>
